/*font-family: 'Poppins', sans-serif;
font-family: 'Roboto Mono', monospace;*/

body {
  background: white;
}

h1 {
  color: black;
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Roboto Mono", monospace;
  font-weight: normal;
}
